<div layout="row" layout-fill>

    <div layout="column" flex="80">
        <md-card flex="100" style="position: relative;" ng-show="view == 'map'">
            <md-card-content>
                <ng-map zoom="2"></ng-map>
            </md-card-content>
        </md-card>

        <div layout="row" flex="50" ng-show="view == 'wordcloud'">
            <md-card flex="50" style="position: relative;" >
                <span class="wordcloudtitle">Hashtags</span>
                <div flex id="wordcloud-hashtags"></div>
            </md-card>
            <md-card flex="50" style="position: relative;">
                <span class="wordcloudtitle">Words</span>
                <div flex id="wordcloud-words"></div>
            </md-card>
        </div>
        <div layout="row" flex="50" ng-show="view == 'wordcloud'">
            <md-card flex="50" style="position: relative;">
                <span class="wordcloudtitle">Names & Places</span>
                <div flex id="wordcloud-names"></div>
            </md-card>
            <md-card flex="50" style="position: relative;">
                <span class="wordcloudtitle">URLs</span>
                <div flex id="wordcloud-urls"></div>
            </md-card>
        </div>


        <md-card flex="100" style="position: relative;" ng-show="view == 'sng'">
            <md-card-content id="sng"></md-card-content>
        </md-card>
    </div>

    <div layout="column" flex="20">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">View settings</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <md-radio-group ng-model="view" ng-change="viewChange()">
                    <md-radio-button value="map" class="md-primary">Map</md-radio-button>
                    <md-radio-button value="wordcloud">Word Clouds</md-radio-button>
                    <md-radio-button value="sng">Social network graph</md-radio-button>
                </md-radio-group>
            </md-card-content>
        </md-card>
        <md-card ng-show="view == 'map'">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Map settings</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                 <md-radio-group ng-model="mapmode" ng-change="changeMapView()">
                     <md-radio-button value="simple" class="md-primary">Simple</md-radio-button>
                     <md-radio-button value="clustered">Clustered</md-radio-button>
                     <md-radio-button value="heatmap">Heatmap</md-radio-button>
                 </md-radio-group>
            </md-card-content>
        </md-card>
        <md-card ng-show="view == 'wordcloud'">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Wordcloud colouring</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <md-radio-group ng-model="wordcloudColoring" ng-change="setGradients()">
                    <md-radio-button value="sentiment" class="md-primary" active>Sentiment</md-radio-button>
                    <md-radio-button value="trustworthiness">Trustworthiness</md-radio-button>
                </md-radio-group>
            </md-card-content>
        </md-card>

        <md-card ng-show="view == 'map' && mapmode != 'heatmap'">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Tweet Details</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content ng-show="selected.tweet">
                <p class="md-block-1" ng-bind-html="selected.tweet.text | linky:'_blank'"></p>
                <p class="md-caption">@{{selected.tweet.author.name}}, {{selected.tweet.time*1000 | date: 'dd/MM/yyyy hh:mm'}}</p>
                <canvas class="chart chart-radar" chart-data="selected.graph.data" chart-labels='selected.graph.labels'>
                </canvas>
            </md-card-content>
        </md-card>
        <md-card ng-show="view == 'sng'">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">User Details</span>
                    <span class="md-subtitle" ng-show="selected.user">{{selected.user}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content ng-show="selected.user" style="padding:0">
                <md-tabs md-align-tabs="bottom" md-stretch-tabs="always" md-center-tabs="true" md-dynamic-height="true">
                    <md-tab md-active="selected.tweets._2.length > 0" label="Mentioned">
                        <md-tab-label>Mentioned</md-tab-label>
                        <md-tab-body>
                            <div style="max-height: 647px;overflow: scroll;">
                                <ul><p ng-repeat="tweet in selected.tweets._2">{{tweet.text}}<br><small>– @{{tweet.author}}</small></p></ul>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab md-active="selected.tweets._2.length == 0" label="Posted">
                        <md-tab-label>Posted</md-tab-label>
                        <md-tab-body>
                            <div style="max-height: 647px;overflow: scroll;">
                                <ul><li ng-repeat="tweet in selected.tweets._1">{{tweet.text}}</li></ul>
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-card-content>
        </md-card>
    </div>
</div>