<div layout="row" layout-fill>
<div layout="column" flex="50">
    <div layout="row">
        <md-card flex>
            <md-card-title class="md-headline">Select an event</md-card-title>
            <md-card-content>
                <md-progress-circular md-mode="indeterminate" ng-hide="events.length > 0"></md-progress-circular>

                <md-list ng-show="events.length > 0">
                    <md-list-item ng-repeat="event in events" ng-click="selectEvent(event)" class="md-2-line" ng-disabled="event.status < 2">
                        <div class="md-list-item-text">
                            <h3>{{ event.name }}</h3>
                            <p>{{["Collecting","Processing","Ready"][event.status]}}</p>
                        </div>
                        <md-icon ng-click="delete($event,event)" aria-label="Delete event" class="md-secondary md-hue-3 material-icons md-warn">delete</md-icon>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row">
        <md-card flex>
            <md-card-title class="md-headline">Import CSV</md-card-title>
            <md-card-content>
                <md-button class="md-primary md-button md-raised">
                    <label for="fileInput">Select .csv</label>
                </md-button>
                <md-input-container>
                    <form name="import" ng-submit="upload()">
                    <input id="fileInput" name="file" type="file" class="ng-hide" accept="text/csv" ngf-select  ng-model='file.file'>
                    </form>
                    {{file.file ? file.file.name : ""}}
                </md-input-container><br>
                <md-input-container>
                    <label>Event name</label>
                    <input ng-model="file.name" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Reference time</label>
                    <input mdc-datetime-picker date="true" time="true" type="text" short-time="false"
                           placeholder="Reference time"
                           format="DD/MM/YY HH:mm "
                           ng-model="file.time">
                </md-input-container>
                <md-input-container>
                    <label>Reference location</label>
                    <input ng-model="file.location" g-places-autocomplete type="text"/>
                </md-input-container>
                <md-button class="md-primary md-raised md-block" ng-click="upload()" ng-disabled="!file.ready()">
                    <label>Process</label>
                </md-button>
            </md-card-content>
        </md-card>
    </div>
</div>
<div layout="column" flex='50'>
    <div layout="row">
        <md-card flex>
            <md-card-title class="md-headline">Collect in real-time</md-card-title>
            <md-card-content>
                <md-chips ng-model="streamtags" readonly="stream.active" placeholder="Search tags"></md-chips>
                <md-input-container>
                    <label>Event name</label>
                    <input ng-model="stream.name" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Reference time</label>
                    <input mdc-datetime-picker date="true" time="true" type="text" short-time="false"
                           placeholder="Reference time"
                           format="DD/MM/YY HH:mm "
                           ng-model="stream.time">
                </md-input-container>
                <md-input-container>
                    <label>Reference location</label>
                    <input ng-model="stream.location" g-places-autocomplete type="text"/>
                </md-input-container>
                <md-button class="md-primary md-raised md-block" ng-click="startStream()" ng-disabled="!stream.ready()" ng-hide="stream.active">
                    <label>Start collecting</label>
                </md-button>
                <md-button class="md-primary md-raised" ng-click="stopStream()" ng-show="stream.active">
                    <label>Finish collecting</label>
                </md-button>
                <span ng-show="stream.active"><br>{{stream.count}} Tweets collected</span>
                <md-progress-circular md-mode="indeterminate" ng-show="stream.active"></md-progress-circular>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row">
    <md-card flex>
        <md-card-title class="md-headline">Trends</md-card-title>
        <md-card-content>
            <md-autocomplete
                    md-selected-item-change="trends.load(item ? item.woeid : null)"
                    md-items="item in trends.filtered()"
                    md-item-text="item.name"
                    md-search-text="trends.searchText"
                    md-min-length="0"
                    placeholder="Select location...">
                <md-item-template>
                    <span md-highlight-text="trends.searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    No regions matching
                </md-not-found>
            </md-autocomplete>
            <ul>
                <li style="display: inline-block; padding: 5px 10px" ng-repeat="trend in trends.values">{{trend}}</li>
            </ul>

        </md-card-content>
    </md-card>
    </div>
</div>
</div>