/* app css stylesheet */
ng-map,svg {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

[ng-view] {
    position: absolute;
    top:62px;
    left: 0;
    right: 0;
    bottom: 0;
}

.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.node circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}

div.jqcloud span {
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text;
    font-weight: bold;
}

[id^=wordcloud] {
    background: #d7d7d7;
}

div.jqcloud a {
    color: #42A5F5;
}